@model ETicaret.WebUI.ViewModel.ProductListViewModel


<div class="row">
    <div class="col-md-3">

        @await Component.InvokeAsync("Categories")


    </div>
    <div class="col-md-9">
        <h3>Arama sonuçlarınız:</h3>
        <div class="row">
            @if (Model.Products.Count>0)
            {
                @foreach (var product in Model.Products)
                {
                    <div class="col-md-4">
                    @await Html.PartialAsync("_product", product)
                    </div>
                }
            }
            else
            {
                <p> Aradığınız kriterlere uygun ürün bulunamadı. </p>
            }
            
        </div>

    </div>
</div>
