
<div class="card mt-3">
    <div class="card-header">
        <h5>Ara</h5>
    </div>
    <div class="card-body">
        <form action="/search">
            <input type="text" name="search" class="form-control" placeholder="Ara" />
            <button type="submit" class="btn btn-sm btn-block btn-primary"> Ara </button>
        </form>
    </div>
</div>



