@model CategoryListViewModel

<div class="row">
    <div class="col-md-12">
        <h1>Kategoriler</h1>
        <hr />

        <a href="/admin/categories/create" class="btn btn-primary btn-sm"> Kategori Ekle</a>
        <br /> <br />
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td style="width:30px"> Id </td>
                    <td> Kategori Adı </td>
                    <td style="width:50px"> Url </td>
                    <td style="width:150px"> </td>
                </tr>
            </thead>
            <tbody>
                @if (Model.Categories.Count() > 0)
                {
                    foreach (var category in Model.Categories)
                    {
                        <tr>
                            <td> @category.Id </td>
                            
                            <td> @category.Name </td>
                            <td> @category.Url </td>
                            
                            <td>
                                <a href="/admin/editcategory/@category.Id" class="btn btn-primary btn-sm mr-2"> Güncelle</a>
                                <form action="/admin/deletecategory" method="post" style="display:inline">
                                    <input type="hidden" name="Id" value="@category.Id" />
                                    <button type="submit" class="btn btn-danger btn-sm"> Sil</button>

                                </form>
                            </td>
                        </tr>
                    }

                }
                else
                {
                    <div class="alert alert-warning">
                        <h3>Listelenecek Kategori bulunamadı.</h3>
                    </div>
                }
            </tbody>
        </table>
    </div>

</div>

