<h1 class="alert alert-success">Ödeme Başarılı</h1>
<h6 class="alert alert-success">
    Ödemeniz başarılı bir şekilde alınmıştır. Siparişiniz en kısa sürede hazırlanıp kargolanacaktır.
</h6>
<p>Bizi Tercih ettiğiniz için teşekkür ederiz.</p>